# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Project specific
*.log
*.csv
*.pkl
*.h5
*.pt
*.pth

*.gif
TCC Docs/978-94-007-0789-4_2.pdf
*.pptx
*.png
*.docx
*.pdf
test.py
test.ipynb
psotest.ipynb